<?php
/**
 * @var $block \Kowal\GoogleTranslateDropdown\Block\Translate
 */
?>
<?php if ( !$block->getEnabled()) return; ?>
<?php if ( $languages = $block->getLanguages()){

}else{
    return;
} ?>
<div class="trans-section">
    <div id="google_translate_element" ></div>
</div>

<script>
    require([
            'jquery'
        ], function ($) {
            'use strict';
            $(document).ready(function () {

                <?php /* new google.translate.TranslateElement({ pageLanguage: '<?= $block->getDefaultLanguage(); ?>', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false }, 'google_translate_element'); */ ?>
                new google.translate.TranslateElement({ includedLanguages: '<?= $languages; ?>', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');

            });
        }
    );
</script>
