.trans-section {
  margin-right: 20px;
}
img.goog-te-gadget-icon {
  display: none;
}
.goog-te-gadget-simple {
  border-radius: 4px !important;
  padding-left: 4px;
}
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
body {
  top: 0px !important;
}
.goog-te-menu2-item div, .goog-te-menu2-item:link div, .goog-te-menu2-item:visited div, .goog-te-menu2-item:active div {
  color: #070605;
}